<!DOCTYPE html>
<html>
<head><title>Problems</title></head>
<body>
    <h2>Create a New Problem</h2>
    

    {% if problems %}
        {% for code, problem in problems.items() %}
            <h2>Access Code: {{ code }}</h2>
            <p>Description: {{ problem.description }}</p>
            <p>incomplete code: {{ problem.incomplete_code }}</p>
            <p>expected output: {{ problem.expected_output }}</p>
        {% endfor %}

    {% else %}
        <p>No problems have been created yet</p>
    {% endif %}

</body>
</html>
